*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #E5E5E5;
    margin: 0;
}

.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.conteiner{
    max-width: 1200px;
    margin: auto;
}
.header_body{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    display: flex;
}
.nav_link{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-right: 58px;
}
.nav_link:last-child{
    margin: 0;
}
.header_btm{
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    padding: 10px 30px;
    border-radius: 50px;
}
.btm{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
    color: white;
}
.info{
    background: url(/Start/img/bg3.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.ingo_row{
    height: 830px;
    display: flex;
    align-items: center;
}
.info_title{
    font-size: 64px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: 0em;
    color: white;
    width: 920px;
    margin-bottom: 50px;
}
.info_time_body{
    display: flex;
}
.time_cube{
    background: #121212;
    height: 112px;
    width: 102px;
    padding: 20px 30px;
    margin-right: 30px;
}
.time_cube:last-child{
    margin: 0;
}
.time{
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    color: white;
    text-align: center;
}
.time_liner{
    font-size: 16px; 
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    opacity: 0.5;
}

.into{
    background:#121212;
    height: 130px;
    padding-top: 36px;
}
.into_body{
    display: flex;
    align-items: center;
}
.into_btm{
    padding: 10px 30px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 50px;
    margin-right: 81px;
    width: 200px;
}
.btM_into{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}
.into_nam{
    width: 250px;
    margin-right: 81px;
}
.useful{
    display: flex;
    position: relative;
}
.useful_title{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
}
.useful_nam{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
}
.well{
    display: flex;
    position: relative;
}
.will_title{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}
.well_nam{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
}
.earn{
    width: 720px;
    position: relative;
}
.earn_info{
    display: flex;
    margin-bottom: 20px;
}
.earn_info::after{
    position: absolute;
    content: "";
    height: 6px;
    width: 440px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    left: 0;
    top: 30px;
}
.earn_info::before{
    position: absolute;
    content: "";
    height: 6px;
    width: 280px;
    background: white;
    right: 0;
    top: 30px;
}
.earn_title{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: white;
    margin-right: 30px;
    opacity: 0.5;
}
.earn_nam{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    color: white;
}
.earn_rub{
    display: flex;
}
.earn_rub0{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: white;
    margin-right: 543px;
    opacity: 0.5;
}
.earn_rub100{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: white;
    opacity: 0.5;
}
.background{
    background: url(/Start/img/bgc.png);
    height: 100ch;
    background-repeat: no-repeat;
    background-size: cover;
}

.work{
    padding-top: 200px;
}
.work_body{
    display: flex;
    position: relative;
}
.work_img{
    margin-right: 140px;
}
.img_work_comp{
    position: absolute;
    top: 100px;
    left: 40px;
}
.work_text{
    text-align: left;
    color: white;
}
.work_title{
    font-size: 48px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0em;
    margin-top: 70px;
    margin-bottom: 45px;
}
.work_sub_title{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    opacity: 0.5;
}

.first{
    background: url(/Start/img/bgc.png);
    height: 100ch;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    color: white;
}
.first_body{
    display: flex;
    flex-direction: column;
}
.first_headker{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 52px;
}
.first_logo{
    margin-right: 20px;
}
.first_logo{
    height: 70px;
}
.first_title{
    font-size: 48px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0em;
}
.first_subheadler{
    width: 411px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    margin-bottom: 80px;
}
.first_colums{
    display: flex;
    height: 230px;
}
.percent{
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
}
.colums_text{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
}
.Rectangle7{
    margin-top: 20px;
    margin-bottom: 35px;
}
.Rectangle8{
    margin-top: 30px;
    margin-bottom: 45px;
}
.Rectangle9{
    margin-top: 45px;
    margin-bottom: 60px;
}
.Rectangle10{
    margin-top: 55px;
    margin-bottom: 70px;
}
.colums_text{
    width: 306px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    opacity: 0.5;
}

.profession{
    background: url(/Start/img/bgc.png);
    height: 100ch;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    color: white;
}
.profession_title{
    font-size: 48px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0em;
    text-align: center;
    padding-bottom: 120px;
}
.colums_body{
    display: flex;
    justify-content: space-between;
}
.profession_colums{
    text-align: center;
    margin-right: 24px;
    max-width: 300px;
}
.profession_img img{
    margin-bottom: 60px;
}
.profession_text_title{
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 30px;
}
.profession_text{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    opacity: 0.5;
}

.brends{
    background: url(/Start/img/bgc.png);
    height: 100ch;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.brends_logo{
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    padding-top: 100px;
}
.brends_logo img{
    margin-right: 52px;
}
.brends_title{
    font-size: 48px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0em;
}
.brends_body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.brends_colums::after{
    position: absolute;
    content: "";
    height: 2px;
    background: white;
    top: 50%;
    left: 0;
    width: 100%;
}
.brends_colums{
    border-right: 2px solid white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}
.brends_img{
    padding: 30px 60px 30px 30px;
}
.brends_colums:last-child{
    border-right: 0;
}

.program{
    background: url(/Start/img/bgc.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.program_body{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 150px;
}
.program_body_title{
    max-width: 800px;
    margin: auto;
    margin-bottom: 70px;
}
.program_img img{
    margin-bottom: 77px;
}
.program_title{
    font-size: 48px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0em;
    margin-bottom: 30px;
}
.program_text{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    width: 400px;
    margin: auto;
    opacity: 0.5;
}
.program_colums{
    display: flex;
    justify-content: center;
}
.program_colums_body{
    border-right: 6px solid #7C6AFA;
    border-image: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-image-slice: 1;
    height: 100%;
}
.program_colums_body:last-child{
    border-right: 0;
}
.program_colums_text1{
    margin-right: 60px;
    width: 230px;
    margin-bottom: 90px;
    position: relative;
}
.program_title1{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;
    margin-bottom: 20px;
    opacity: 0.5;
}
.program_text1{
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: right;
}
.program_text1::after{
    content: "";
    top: 55px;
    right: -60px;
    height: 2px;
    width: 40px;
    background: white;
    position: absolute;
}
.program_colums_text2{
    margin-top: 100px;
    margin-left: 30px;
    width: 230px;
    margin-bottom: 60px;
    position: relative;
}
.program_title2{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 20px;
    opacity: 0.5;
}
.program_text2{
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}
.program_text2::after{
    content: "";
    position: absolute;
    top: 55px;
    left: -60px;
    background: white;
    width: 40px;
    height: 2px;
}

.teacher{
    background: url(/Start/img/bgc.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.teacher_body{
    padding-bottom: 150px;
}
.teacher_logo{
    display: flex;
}
.teacher_img img{
    margin-top: 5px;
    margin-right: 40px;
}
.teacher_subtitle{
    font-size: 48px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0em;
    margin-bottom: 120px;
    text-align: left;
}
.teacher_box{
    display: flex;
    justify-content: space-around;
}
.teacher_colums{
    max-width: 350px;
    text-align: center;
}
.teacher_logo1 img{
    margin-bottom: 40px;
}
.teacher_title{
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 15px;
}
.teacher_text{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 20px;
    opacity: 0.8;
}
.teacher_btm{
    border: 3px solid white;
    padding: 10px 5px;
    border-radius: 50px;
}
.btm_teacher{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
    color: white;
}
.footer{
    background: url(/Start/img/bgc.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.footer_conteiner{
    max-width: 600px;
    margin: auto;
}
.footer_box{
    text-align: center;
}
.footer_title{
    font-size: 48px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 30px;
}
.footer_text{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    margin-bottom: 50px;
    opacity: 0.5;
}
.footer_email{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.email_text{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    background: white;
    opacity: 0.25;
    width: 300px;
    padding: 10px 30px;
    border-radius: 50px 0px 0px 50px;
    z-index: 1;
}
.footer_btm{
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 50px;
    padding: 10px 30px;
    margin-left: -30px;
    z-index: 2;
}
.btm_footer{
    color: black;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
}
.footer_img{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
}
.footer_img1{
    text-align: center;
    margin-right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.footer_img1 img{
    margin-top: 12px;
}
.footer_img1:last-child{
    margin-right: 0;
}
.number{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    opacity: 0.8;
}
