body{
    background-color: white;
}

.headler{
    margin-top: 10px;
    margin-left: 60px;
}
.conteiner{
    margin-left: 20px;
    margin-right: 20px;
}
.headler_body{
    display: flex;
}
.headler_logo{
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}
.logo_img{
    width: 240px;
    height: 80px;
}
.logo_text{
    text-decoration: none;
    color: rgb(0, 0, 131);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
.logo_text:hover{
    text-decoration: underline;
    color: rgb(0, 0, 131);
    text-decoration-color: red;
}
.headler_naw{
    display: flex;
    align-items: center;
}
.poisk{
    position: relative;
    margin-right: 20px;
}
.poisk input, .poisk button{
    border: 1px solid rgb(158, 158, 158);
    outline: none;
    background: transparent;
}
.poisk input{
    width: 300px;
    height: 42px;
    padding-left: 15px;
}
.poisk button{
    width: 42px;
    height: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border-left: none;
}
.language_logo{
    margin-right: 2px;
}
.language_logo:last-child{
    margin-right: 30px;
}
.ru_img{
    height: 25px;
    width: 25px;
}
.pl_img{
    height: 25px;
    width: 25px;
}
.chn_img{
    height: 25px;
    width: 25px;
}
.en_img{
    height: 25px;
    width: 25px;
}
.de_img{
    height: 25px;
    width: 25px;
}
.city{
    margin-right: 30px;
}
.dropbtn {
    background-color: white;
    color: black;
    font-size: 16px;
    border: none;
    min-width: 160px;
    text-align: left;
    padding-left: 15px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: rgb(228, 228, 228);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
span{
    color: gray;
}
.city_add{
    font-weight: 600;
    padding-left: 15px;
}
.city_add:hover{
    text-decoration: underline;
    text-decoration-color: black;
}
.city_contacts{
    font-weight: 600;
    padding-left: 15px;
}
.city_contacts:hover{
    text-decoration: underline;
    text-decoration-color: black;
}
.vhod{
    display: flex;
    margin-left: 15px;
}
.vhod_text{
    margin-right: 20px;
}
.vhod_text:hover{
    text-decoration: underline;
    text-decoration-color: black;
}
.vhod_title:hover{
    text-decoration: underline;
    text-decoration-color: black;
}
.brn9{
    font-size: 20px;
}
.registery{
    margin-bottom: 30px;
}
.logo_btm{
    border: 2px solid red;
    margin-left: 50px;
    border-radius: 5px;
}
.btn{
    color: black;
    font-weight: 700;
}
.logo_btm:hover{
    background-color: red;
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
}


.sectionnaw{
    margin-top: 40px;
}
.sectionnawblock{
    display: flex;
}
.sectionnaw1{
    background-color: rgb(72, 72, 255);
    width: 300px;
    height: 40px;
    border-radius: 10px;
    vertical-align: center;
    text-align: left;
    padding-top: 7px;
    margin-right: 25px;
}
li{
    list-style-type: none;
}
.catalogtext{
    text-transform: uppercase;
    font-weight: 700;
}
.catalogtext12{
    text-decoration: none;
    color: white;
}
.sectionnaw1:hover{
    background-color: blue;
}
.nav{
    display: flex;
}
.nav_link{
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid gray;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 7px 20px 7px 20px;
    color: black;
}
.nav_link:hover{
    color: red;
}
.linkred{
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid gray;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 7px 20px 7px 20px;
    color: red;
    font-weight: 700;
}
.linkred:hover{
    color: rgb(255, 61, 61);
}
.linkbtm{
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 7px 20px 7px 20px;
    color: white;
    width: 200px;
    text-align: center;
    background-color: red;
    border-radius: 5px;
}
.linkbtm:hover{
    background-color: rgb(156, 0, 0);
    color: white;
}
.liderblock1{
    display: flex;
}
.liderblocknaw{
    margin-right: 20px;
}
.lider_block{
    width: 300px;
    background-color: rgb(241, 241, 241);
}
.sale{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(202, 202, 202);
}
.sale:hover{
    background-color: rgb(255, 255, 255);
}
.logosale{
    margin-right: 15px;
    margin-left: 30px;
}
.new{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(202, 202, 202);
}
.new:hover{
    background-color: rgb(255, 255, 255);
}
.logonew{
    margin-right: 15px;
    margin-left: 30px;
}
.living{
    border-bottom: 1px solid rgb(202, 202, 202);
}
.dropbtnliving {
    color: black;
    font-size: 16px;
    border: none;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 38px;
    background-color: rgb(241, 241, 241);
    text-decoration: none;
}
.dropbtnliving:hover{
    color: black;
    background-color: rgb(255, 255, 255);
}
.living:hover{
    background-color: rgb(255, 255, 255);
}
.dropdownliving {
    position: relative;
    display: inline-block;
}
.dropdown-contentliving {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-contentliving a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-contentliving a:hover {
    background-color: #ddd;
}
.dropdownliving:hover .dropdown-contentliving {
    display: block;
}
.logoliving{
    margin-left: 30px;
}
.liderblockbedroom{
    margin-top: 50px;
}
.put{
    display: flex;
}
.nameput{
    margin-right: 15px;
    color: red;
}
.vlojen{
    margin-right: 15px;
}
.nameput2{
    color: gray;
}
.Zagolovok{
    margin-top: 20px;
    font-size: 25px;
    font-weight: 700;
}

.carousel-control-prev{
    background-color: red;
    height: 50px;
    width: 50px;
    margin: auto;
}
.carousel-control-next{
    background-color: red;
    height: 50px;
    width: 50px;
    margin: auto;
    opacity:0.5;
}

.bed_block22{
    display: flex;
}
.bed_body1{
    margin-right: 100px;
}
.bed_body2{
    width: 300px;
    height: 300px;
    margin-top: 25px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}
.price_body{
    padding: 25px 20px 25px 20px;
}
.price_bed{
    font-weight: 700;
    font-size: 24px;
}
.choice{
    margin-top: 20px;
}
.price_btm{
    display: flex;
    text-align: center;
    text-align: center;
    margin-top: 10px;
}
.pricebtm{
    border: 2px solid rgb(235, 235, 235);
    margin-right: 15px;
    padding: 5px 5px 10px 5px;
}
.pricebtm:hover{
    border: 2px solid rgb(255, 0, 0);
    color: black;
}
.pricebtm:focus{
    border: 3px solid rgb(255, 0, 0);
}
.btmprice{
    font-size: 11px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.btmprice:hover{
    color: black;
}
.quantity{
    display: flex;
    text-align: center;
}
.quantity_body{
    display: flex;
    margin-top: 20px;
}
.plus1{
    background-color: rgb(235, 235, 235);
    padding: 10px 15px 10px 15px;
}
.plus{
    border: 2px solid rgb(235, 235, 235);
    padding: 5px 5px 10px 5px;
}
.quantity_btm{
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    align-items: center;
}
.quantity_btm{
    background-color: red;
    color: white;
    width: 500px;
    border-radius: 5px;
    padding-top: 8px;
    text-decoration: none;
    text-transform: uppercase;
}
.quantity_btmred{
    text-decoration: none;
    color: white;
}
.quantity_btmred:hover{
    color: white;
}
.quantity_btm:hover{
    background-color: rgb(156, 0, 0);
    color: white;
}
.favorites{
    display: flex;
    margin-top: 20px;
}
.head{
    border: 2px solid rgb(235, 235, 235);
    margin-right: 15px;
    padding: 5px 20px 10px 20px;
    border-radius: 5px;
}
.bay{
    padding: 5px 20px 10px 20px;
}
.buy{
    text-decoration: none;
    color: red;
    font-weight: 700;
}
.buy:hover{
    color: rgb(156, 0, 0);
}


.social{
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}
.social_body{
    color:rgb(194, 194, 194);
    margin-right: 30px;
}
.img_s{
    height: 25px;
    width: 25px;
    border-radius: 5px;
}

.text_minu{
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: red;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    margin-right: 75px;
    margin-top: 50px;
}
.minu_box{
    display: flex;
    margin-top: 50px;
}
.bed_info{
    width: 700px;
    height: 170px;
}
.bed_img{
    display: flex;
}
.bed_bobo{
    padding-top: 35px;
    text-align: center;
    width: 170px;
    height: 170px;
    border: 2px solid rgb(202, 202, 202);
    margin-right: 20px;
    border-radius: 5px;
}
.active1{
    border: 2px solid rgb(250, 5, 5);
}
.img_bed{
    width: 150px;
    height: 100px;
}
.drop-down{
    margin-top: 25px;
}

.nav-item{
    background-color: red;
    color: white;
    margin-right: 5px;
    border-radius: 5px;
}
.nav-link{
    color: white;
    width: 200px;
}
.nav-link:hover{
    color: white;
    background-color: rgb(156, 0, 0);
}
.tab-content{
    width: 680px;
    height: 450px;
}

.coloms{
    margin-top: 50px;
}
.coloms_body{
    display: flex;
}
.coloms1{
    text-align: center;
    width: 140px;
    height: 460px;
    margin-right: 25px;
}
.colums2{
    text-align: center;
    width: 140px;
    height: 460px;
}
.colums_title{
    font-weight: 700;
    margin-bottom: 15px;
}
.colums_size{
    font-size: 12px;
    margin-bottom: 15px;
}
.title_price{
    font-weight: 700;
}

.icon_pdf{
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}
.pdf_text{
    margin-right: 10px;
}
.pdf_color{
    color: red;
    text-decoration: none;
}
.pdf_color:hover{
    color: red;
    text-decoration: underline;
    text-decoration-color: red;
}


.footer{
    background-color: rgb(199, 199, 199);
}
.footer_body{
    display: flex;
    height: 350px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 50px;
    padding-right: 30px;
}
.footer_block{
    margin-right: 30px;
}
.footer_title{
    margin-bottom: 15px;
}
.footer_title_color{
    color: red;
    font-size: 16px;
    text-transform: uppercase;
}
.footer_title_color:hover{
    color: rgb(255, 89, 89);
}
.footer_number_color{
    color: black;
    font-weight: 700;
}
.footer_number_color:hover{
    color: black;
}
.footer_contact{
    margin-bottom: 15px;
}
.footer_img_1{
    width: 25px;
    height: 25px;
    border-radius: 5px;
}
.footer_partner{
    margin-bottom: 5px;
}
.footer_partner_color{
    text-decoration: none;
    color: gray;
    font-size: 14px;
}
.footer_partner_color:hover{
    color: red;
    text-decoration: underline;
    text-decoration-color: red;
}
.ot{
    margin-bottom: 35px;
}
.io{
    margin-top: 60px;
}
.po{
    margin-bottom: 15px;
}
.footer_text{
    width: 170px;
}
.carta_footer{
    margin-top: 60px;
}
.foter_img{
    margin-top: 50px;
}

/* Код для furniture */
.body_filtraition{
    padding-top: 100px;
    text-align: center;
}
.headler22{
    text-align: center;
    margin-bottom: 20px;
}
.filtraition1{
    margin-bottom: 25px;
}
.filtraition2{
    margin-bottom: 25px;
}
.filtraition3{
    margin-bottom: 25px;
}
.filtraition_input1{
    margin-bottom: 10px;
}
.filtraition_text1{
    margin-bottom: 10px;
}
.filtraition_text2{
    margin-bottom: 10px;
}
.filtraition_button{
    display: flex;
    justify-content: center;
}
.filtraition_button1{
    margin-right: 15px;
}
.fil_b1{
    background-color: blue;
    padding: 5px 5px 5px 5px;
    color: white;
    border-radius: 5px;
}
.fil_b2{
    background-color: red;
    padding: 5px 5px 5px 5px;
    color: white;
    border-radius: 5px;
}
#fil{
    margin-top: 20px;
    margin-bottom: 20px;
}
#option{
    width: 150px;
    height: 20px;
}
